# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [6]:
#<variable> = <value>

my_int = 10

print(my_int)
(type(my_int))

10

int

##### Assinging float

In [7]:
my_float = 4.1

print(my_float)

type(my_float)

4.1

float

#### Performing Calculations on ints and floats

##### Addition

In [72]:
5+5

10

##### Subtraction

In [75]:
10-5

my_int - 2

print(my_int)

8

In [77]:
#update value with calculation

#long hand
my_int = my_int - 2
print(my_int)

#short hand

my_int -= 2

print(my_int)

6
4

##### Multiplication

In [79]:
10 * 10

new_int = 25

new_int * 2

print(new_int)

25

In [ ]:
#reassign

#long hand
new_int = new_int * 2
print(new_int)

#short hand
new_int *= 5
print(new_int)

##### Division

In [82]:
# division always returns a float
10 / 2

#division and convert back to int 

int(10/2)
print(new_int / 25)

100.0

In [86]:
new_int = (new_int / 25)
print(new_int)

new_int /= 2
print(new_int)

2.0
1.0

##### Floor Division

In [90]:
10//2

11 // 2

ten = 10
print(ten // 5)

2

##### Modulo

In [93]:
11 % 2

124 % 25

24

##### Exponential

In [96]:
# ** 

10 ** 2

10 ** 3

1000

In [97]:
ten = 10

ten **= 2

print(ten)

100

### String Input-Output

##### String Assignment

In [99]:
type('sean100')
#string is wrapped in quotes double or single, quotes must match

instructor = 'sean'
print(instructor)
print(type(instructor))

sean
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [104]:
print(instructor, end=' currie ')
print('dylan', end=' ')
print('smith')
print('matrix')

sean currie dylan smith
matrix

##### String Concatenation

In [106]:
first_name ='dylan'

print(first_name + ' '+'smith')

dylan smith

In [107]:
last_name = 'smith'

print(first_name + ' '+ last_name)

dylan smith

In [111]:
full_name = first_name + ' ' + last_name
print(full_name)

full_name += ' jr'
print(full_name)

dylan smith
dylan smith jr

##### Type Conversion

In [115]:
type(12)

type('12')

str_digit = '23'
#bug
#str_digit + 100

print(int(str_digit) + 100)

print(type(str_digit))

#another bug
#int('23a')

my_age = 33

#bug
#happy_birthday_string = fullname + ' happy birthday you are now ' + my_age

happy_birthday_string = full_name + ' happy birthday you are now ' + str(my_age)
print(happy_birthday_string)

123
<class 'str'>
dylan smith jr happy birthday you are now 33

In [ ]:
print(type(my_age))

my_age = str(my_age)

print(type(my_age))

##### input()

In [122]:
user_age = input('what is your age? ')

what is your age? 28

In [123]:
print(user_age)
print(type(user_age))

28
<class 'str'>

##### format()

In [124]:
result_string = '{} you are {} and you are beautiful'.format(instructor, user_age)
print(result_string)

sean you are 28 and you are beautiful

In [130]:
result_string2 = instructor + ' you are ' + user_age + ' and you are beautiful '
print(result_string2)

sean you are 28 and you are beautiful

##### Old Way (python 2)

In [131]:
result_string_python2 = '%s you are %d and you are beautiful' %(instructor, int(my_age))

print(result_string_python2)

sean you are 33 and you are beautiful

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
#OUTPUT:  The car's color is blue, the year is 2019, make is honda, and model is CR-V

name = input("What is your name?: ")
color = input("What color is your car?: ")
year = input("What year is your car?: ")
model = input("What model is your car?: ")
results = f"{name}, your {year} {model}'s color is {color}"

print(results)

### If Statements

In [9]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

if True and True:
    print('both true')
    
if False and True:
    print('both true2')

if False and True:
    print('at least one is true')

if True or False:
    print('at least one is true')

# bug
if 10 > 8 and 6:
    print('ten greater than both')
    
#proper way to check
if 10 > 8 and 10 > 6:
    print('ten greater than both2')
    
if 24 > 25 or 0 > 1:
    print('either true or both false')

both true
at least one is true
ten greater than both
ten greater than both2

##### 'is' keyword

In [12]:
print(55 == 55)
#incorrect
print(55 is 55)

another_num = 55

print(another_num == 55)
#incorrect
print(another_num is 55)

dict1= {'a':1}
dict2= {'a':1}

print(dict1==dict2)

print(dict1 is dict2)

dict3 = dict1

print(dict3)

print(dict3 == dict1)

print(dict3 is dict1)

True
True
True
True
True
False
{'a': 1}
True
True

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\simab\AppData\Local\Temp\ipykernel_4196\4159356327.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(55 is 55)
C:\Users\simab\AppData\Local\Temp\ipykernel_4196\4159356327.py:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(another_num is 55)

##### 'in' keyword

In [16]:
print('a' in 'abc')
print('d' in 'abc')

char_name = 'the hulk'

if 'the' in char_name:
    print('the in name')
    
if 'H' .lower() in char_name.lower():
    print('H in name')

True
False
the in name
H in name

##### 'not in' keyword'

In [20]:
print('a' not in 'abc')
print('d' not in 'abc')

if 'z' not in 'Zelda'.lower():
    print('case sensitive')

False
True

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [30]:
user_input = input("Enter your name")
if 'p' in user_name:
    print('True')
    
    
# OUTPUT: True -- if p is found
# False -- if p is NOT found

street=input("Where do you live?")
result_string = "You live on {} street.".format(street)
print(result_string)

if 'p' not in street:
    print("p is NOT here...")

Enter your namesima

## Using 'and'/'or' with If Statements

In [31]:
#see above

if 'd' in 'dylan' and 's' in 'sean':
    print('d and s')

d and s

### Elif Statements

In [32]:
#elif and else are chained to an if
#you can have multiple elif, but one else

#if /ellif/ else chain the first condition that returns true break chain

#elif <condition>:
# action

#else:
#    action

if 'd' in 'Dylan':
    print('found d')
elif 'D' in 'Dylan':
    print('found D')
else:
    print('no d')

found D

In [33]:
grade = 90

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')

A

### Else Statements

In [ ]:
#else will run if all chained conditions return false
#any chained condition returns true break from chain, don't run else. 
# see above

### For Loops

In [39]:
#for <loop variable> in <iterable>:
#   <loop code block can be 1 or many lines>
#<code after for loop>

for letter  in 'hello world':
    print(letter)
    print('end of loop code block with letter ' + letter)
print('finish loop')

h
end of loop code block with letter h
e
end of loop code block with letter e
l
end of loop code block with letter l
l
end of loop code block with letter l
o
end of loop code block with letter o

end of loop code block with letter
w
end of loop code block with letter w
o
end of loop code block with letter o
r
end of loop code block with letter r
l
end of loop code block with letter l
d
end of loop code block with letter d
finish loop

##### Using 'in' keyword

In [41]:
# see above

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

##### Continue Statement

In [ ]:
# will continue to next iteration

In [43]:
for num in range(10):
    if num == 5:
        #print('5 before continue')
        #print('line 2 in action')
        continue
    print(num)

0
1
2
3
4
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [48]:
for num in range(10):
    if num == 5:
        break
        print('5 with break')
    print(num)
print('after break')

0
1
2
3
4
after break

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [50]:
for num in range(10):
    if num == 5:
        pass
        print('5 with pass')
    print (num)
print('after for loop')

0
1
2
3
4
5 with pass
5
6
7
8
9
after for loop

##### Double For Loops

In [51]:
for letter in 'dylan':
    for num in range(5):
        print(f'{letter} {num}')
    print('nested loop complete\n')

d 0
d 1
d 2
d 3
d 4
nested loop complete

y 0
y 1
y 2
y 3
y 4
nested loop complete

l 0
l 1
l 2
l 3
l 4
nested loop complete

a 0
a 1
a 2
a 3
a 4
nested loop complete

n 0
n 1
n 2
n 3
n 4
nested loop complete

### While Loops

In [53]:
#while <boolean condition>
#     <loop code block>

num = 0
while num < 10:
    num += 1
    print(num)
    

    
#infinite loop, avoid!!!
num = 0
while num < 10:
    print(num)

1
2
3
4
5
6
7
8
9
10

##### Looping 'While True'

In [54]:
while True:
    playing = input("Are you still playing")
    if playing == 'no':
        break
    print('Rock on')

Are you still playingyes
Rock on
Are you still playingyes
Rock on
Are you still playingno

##### While & For Loops Used Together

In [60]:
for letter in 'sean':
    num = 0
    while num < 5:
        print(letter + ' ' + str(num))
        num += 1
        print('nested loop complete')
        
print('outter loop complete')

s 0
nested loop complete
s 1
nested loop complete
s 2
nested loop complete
s 3
nested loop complete
s 4
nested loop complete
e 0
nested loop complete
e 1
nested loop complete
e 2
nested loop complete
e 3
nested loop complete
e 4
nested loop complete
a 0
nested loop complete
a 1
nested loop complete
a 2
nested loop complete
a 3
nested loop complete
a 4
nested loop complete
n 0
nested loop complete
n 1
nested loop complete
n 2
nested loop complete
n 3
nested loop complete
n 4
nested loop complete
outter loop complete

### Built-In Functions

##### range()

In [40]:
#range(<start>, <stop> , <step>)
#start and step are optional default to 0 and 1
#commonly seen

range(10)

range(0, 10)

##### len()

In [63]:
# len(<iterable>)

len('sean')

list(range(len('sean')))

for num in range(len('sean')):
    print(num)

0
1
2
3

##### help()

In [64]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [70]:
#isinstance(<data_to_check>), <type>
type('sean')

isinstance('sean',int)

my_age = '55'
if isinstance(my_age, int):
    print(my_age + 5)

##### abs()

In [71]:
#distance from zero
print(abs(-5))

print(abs(-5) == 5)

5
True

### Try and Except

In [3]:
try:
    user_age = input('What is your age?')
    user_age = int(user_age)
    user_age += 1
    print(f'Happy Birthday you are now {user_age}' )
except:
    print('Please enter your age in digits')

What is your age?thirty
Please enter your age in digits

In [ ]:
#this will break the program
user_age = input('What is your age?')
user_age = int(user_age)
user_age += 1
print(f'Please enter your age in digits {user_age}')

### Lists

##### Declaring Lists

In [4]:
first_list = []

type([])

list

##### Indexing a List

In [12]:
#index is position, element is value
[1,3,5,9][1]
#indecies start at 0
[1,3,5,9][0]

number_list = [100,8,1,3]

print(number_list)

number_list[2]

number_list[-1]
number_list[3]

[100, 8, 1, 3]

3

##### .append()

In [14]:
#add an element to the end of the list
print(number_list)

number_list.append(5)

print(number_list)

#can only append one element at a time
#bug
#number_list.append(10,1)

[100, 8, 1, 3, 5]
[100, 8, 1, 3, 5, 5]

##### .insert()

In [15]:
#add an element at specific position
#<list>.insert(<position>, <element>)

number_list.insert(0,99)
print(number_list)

[99, 100, 8, 1, 3, 5, 5]

In [17]:
number_list.insert(2,88)
print(number_list)

[99, 100, 88, 88, 8, 1, 3, 5, 5]

##### .pop()

In [18]:
#remove item from list
#takes an index
#default index last position

number_list.pop()
print(number_list)

[99, 100, 88, 88, 8, 1, 3, 5]

In [19]:
number_removed = number_list.pop(2)
print(number_removed)

88

In [20]:
first_position_removed = number_list.pop(1)
print(number_list, first_position_removed)

[99, 88, 8, 1, 3, 5] 100


##### .remove()

In [21]:
#remove by value (not index)
print(number_list)

number_list.remove(5)
print(number_list)

[99, 88, 8, 1, 3, 5]
[99, 88, 8, 1, 3]

In [23]:
letter_list =['a', 'b', 'c']

letter_list.append('a')

print(letter_list)

letter_list.remove('a')

print(letter_list)

['a', 'b', 'c', 'a']
['b', 'c', 'a']

##### del()

In [24]:
del(letter_list[0])

print(letter_list)

['c', 'a']

##### Concatenating Two Lists

In [27]:
#concat with <list> + <list>

letter_list + ['z' , 'y' , 'x']

print(letter_list)

letter_list += ['g', 'h', 'i']

print(letter_list)

['c', 'a', 'z', 'y', 'x']
['c', 'a', 'z', 'y', 'x', 'g', 'h', 'i']

##### Lists Within Lists

In [28]:
random_list = number_list + letter_list

print(random_list)

[99, 88, 8, 1, 3, 'c', 'a', 'z', 'y', 'x', 'g', 'h', 'i']

In [30]:
matrix = [[1,2,3], [3,4,5], [100,3,9]]

for l in matrix:
    print(l)
    for num in l:
        print(num)

[1, 2, 3]
1
2
3
[3, 4, 5]
3
4
5
[100, 3, 9]
100
3
9

##### Looping Through Lists

In [31]:
#loop through the elements
#for <loop variable> in <list>:
for e in [1,'e', ['abc'], 100]:
    print(e)

1
e
['abc']
100

In [39]:
#print true if current element is less than next element in list

#for i in range(len<list>))

num_list2 = [1,2,3,100,99]

for i in range(len(num_list2)):
    current_value = num_list2[i]
    print(f'{ i= } {current_value =}')
    #combine conditions to prevent index out of range loop, ensuring we're at last index
    if i != len(num_list2)-1 and current_value < num_list2[i + 1]:
        print(True)

 i= 0 current_value =1
True
 i= 1 current_value =2
True
 i= 2 current_value =3
True
 i= 3 current_value =100
 i= 4 current_value =99

In [32]:
test_list = [1,2,3,4]
print(len(test_list))

print(list(range(4)))

4
[0, 1, 2, 3]

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [140]:
num = 0
result = 0

while True:
    result = num ** 3
    if result > 1000:
        break
    else:
        print(result)
    num += 1

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [43]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break



#look at every number up to 100
#check if any number leading up to that number besides 1 is divisible
#f not print num

for num in range(100):
    for n in range(2, num):
        if num % n == 0:
            break
        if n == num -1:
            print(num)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [42]:
primeNumList = []
isPrime = True
for i in range(2,101):
    isPrime = True
    for j in range(2,i-1):
        if i % j == 0:
            isPrime = False
    if isPrime == True:
        primeNumList.append(i)
        
print(primeNumList)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
for num in range(1,100):
    if num % 3 == 0 or num % 5 == 0 or num % 7 == 0
    print(num)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [162]:
user_age_string = input("How old are you? ")
user_age = int(user_age_string)
if user_age < 18:
    print("KIDS")
elif user_age >= 18 and user_age <= 65:
    print("ADULTS")
else:
    print("SENIORS")

How old are you? 15
KIDS